$accordion-title-bgcolor:white;
$accordion-title-color:#474747;
$accordion-title-border-color:#e7e7e7;
$number-of-tabs:4;

#destination {
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  overflow:hidden;
  background:white;
  min-height: 100%;
  height:100%;
  -webkit-transform:scale(0);
  transition:-webkit-transform $page-transition-duration, opacity $page-transition-duration;
  visibility: hidden;
  opacity:0;

  &.active {
    visibility:visible;
    height:auto;
    opacity:1;
    // Otherwise autohiding nav doesn't work
    -webkit-transform:none;
  }

  &.animate {
    visibility:visible;
    height:100%;
  }

  &.animate.active {
    -webkit-transform:scale(1);
  }

  .ajaxError {
    margin:.5em 1.1em;
    margin-top:0;
    text-align:center;

    button {
      margin-top:1em;
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
  }

  #destinationMenu {
    background:#efefef;
    display:none;
    z-index:3000;
    position:fixed;
    top:44px;
    right:8px;
    overflow:hidden;
    text-align:left;
    box-shadow:0px 10px 22px 0px #717171;

    &.active {
      display:block;
    }

    i:before {
      width:1em;
      display:inline-block;
      text-align: center;
      margin-right:.8em;
    }

    i:first-child {
      border-top:0;
    }

    i {
      margin:0;
      padding:.7em 1.5em .7em 1.1em;
      font-size:1.3em;
      display:block;
      border-top:1px solid #d7d7d7;
    }
  }

  nav {
    border-bottom:0;
    text-align:left;

    h1 {
      width:67%;
      height:1em;
      overflow:hidden;
      text-align:center;
    }

    #tabs_menu {
      margin:0;
      padding:0;
      font-size:1.3em;
      clear:both;
      text-align:center;

      // Prevent menu from overflowing on multiple lines
      white-space:nowrap;
    }

    #tabs_menu li {
      display:inline-block;
      padding:.2em .75em 0 .75em;
      margin-left:.5em;
      border-bottom:3px solid $nav-bgcolor;
      box-sizing:border-box;
      -webkit-box-sizing:border-box;
    }

    #tabs_menu li.active {
      font-weight:bold;
      border-bottom:4px solid $nav-border-bottom-color;
    }

    .loading_status {
      width:100%;
      height:1px;
      background:$nav-border-bottom-color;
      transition:width $transition-duration;
    }
  }

  // Content definitions below
  #destination_tabs {
    width: $number-of-tabs * 100%;
    transition:all $transition-duration;
    -webkit-transform:translate3d(0,0,0);
    min-height:100%;
    overflow:hidden;

    .ajax_loading {
      text-align:center;
      margin-top:2em;

      .ajax_spinner {
        font-size:3em;
        display:block;
        margin:auto;
        -webkit-animation:spin 1s infinite linear;
      }
    }
  }

  #destination_tabs > .tab {
    width:25%;
    float:left;
    margin-top:92px;
  }

  @import 'wikivoyage';
  @import 'photos';
  @import 'videos';
  @import 'weather';

}
