#topbar h1 {
  display:inline-block;
}

#tabs_menu {
  margin:0;
  padding:0;
}

#tabs_menu li {
  display:inline-block;
}


// Content definitions below

#destination_content img {
  max-width:95%;
}

// Hide these elements
.iconbox, .edit-page, .noprint {
  display:none;
}

// Accordion: hide content by default
#destination_content > h2 + div {
  display:none;
  background:#F0F0F0;
}

#destination_content > h2.expanded + div {
  display:block;
}

#destination_content > h2 {
  background:#E8E8E8;
  padding:.7em 1em;
  margin-top:.5em;
}

#destination_content > h2 i {
  margin-right:.5em;
  transition:all $transition-duration;
  -webkit-transform:rotateZ(0deg);
}

#destination_content > h2.expanded i {
  -webkit-transform:rotateZ(90deg);
}

