.destinationsListingPage {
  padding-left:0;
  padding-right:0;
}

.destinationsList {
  margin:0;
  padding:0;

  li:first-child {
    border-top:0;
  }

  li {
    font-size:1.3em;
    border-top:1px solid #dcdcdc;
    overflow:hidden;
    position:relative;

    span {
      padding:.7em 0 .7em 1em;
      display:block;

      .distance {
        display:inline;
        padding:0;
        margin-left:.5em;
        color:gray;
      }
    }

    i {
      position: absolute;
      padding: .9em 1em .9em .9em;
      top: 0;
      right: 0;
      background: white;
    }
  }
}
