$frontpage-tab-count: 3;
$drawer-width:17em;

#frontpage {
  height:100%;

  &.inactive {
    display:none;
  }

  &.menuActive {

    #frontpage {
      z-index:-3;
    }

    #frontpageContent {
      overflow:hidden;
      -webkit-transform:translate3d($drawer-width, 0, 0);
    }

    .overlay {
      visibility:visible;
      opacity:.6;
    }
  }

  #drawerMenu {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:$drawer-width;
    background:#eeeeee;

    i:first-child {
      border-top:0;
    }

    i:before {
      margin-right:1em;
    }

    i {
      padding:1em;
      font-size:1.4em;
      display:block;
      border-top:1px solid #dcdcdc;
    }
  }

  .overlay {
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    opacity:0;
    transition:opacity $transition-duration;
    z-index:1001;
  }

  #frontpageContent {
    background:white;
    width:100%;
    overflow:hidden;
    min-height:100%;
    z-index:2;
    transition:-webkit-transform $transition-duration;
    -webkit-transform:translate3d(0,0,0);
  }

  .pageContent {
    position:absolute;
    top:38px;
    left:0;
    width:100%;
    height:95%;// minus padding top
    overflow:auto;

    .seeAllBtn {
      display:block;
      margin:1em auto;
    }
  }

  nav {
    text-align:left;

    .searchInput {
      position:absolute;
      top:.2em;
      left:13%;
      width:86%;
      font-size:1.5em;
      transition:all $transition-duration;

      &.active {
        width:96%;
        left:2%;
      }

      .searchIcon {
        position:absolute;
        top:2px;
        left:1px;
        font-size:.95em;
        z-index:2;
      }

      input {
        padding-left:1.5em;
        z-index:1;
        position:absolute;
        left:0;
        top:0;
        width:100%;

        &.loading {
          background: {
            image:url(../images/ajax-loader.gif);
            repeat:no-repeat;
            position:98% 50%;
            size:27px;
          }
        }
      }

      .searchSuggestResults {
        margin:38px 0 0 0;
        padding:0;
        background:#efefef;
        box-shadow:0px 10px 22px 0px #717171;
        position:relative;
        overflow:auto;

        li:first-child {
          border-top:0;
        }

        li {
          padding:.7em 1em;
          border-top:1px solid #d7d7d7;
        }
      }
    }

  }

  #frontpage_tabs_menu {
    margin:0;
    padding:0;
    border-bottom:1px solid #9c9c9c;

    li {
      padding:1em 0 .1em 0;
      font-size:1.5em;
      display:inline-block;
      text-align: center;
      width:98% / $frontpage-tab-count;
      border-bottom:3px solid white;
      box-sizing:border-box;
      -webkit-box-sizing:border-box;

      &.active {
        border-bottom:4px solid #9c9c9c;
      }
    }
  }

  #frontpage_tabs {
    width:$frontpage-tab-count * 100%;
    transition:-webkit-transform $transition-duration;

    &.noAnimation {
      transition:all 0s;
    }

    .ajaxError {
      margin-top:1em;
    }

    .noDestinationsMsg {
      margin-top:1em;
      font-size:1.2em;
    }

    .tab {
      float:left;
      width:100%/$frontpage-tab-count;
      visibility:hidden;
      height:1px;
      overflow:hidden;

      &.active {
        height:auto;
        visibility:visible;
      }

      .destination {
        background:white;
        overflow:hidden;
        padding:.5em;

        &.touchdown {
          opacity:.5;
        }

        label {
          font-family: "RobotoRegular";
          font-size:1.2em;
          margin-top:.2em;
          height:1.2em;
          overflow:hidden;
          max-width:55%;
        }

        p {
          height:5.5em;
          overflow:hidden;
          position:relative;
        }

        p:after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 30%;
          height: 1.2em;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }

        .photo {
          width:12em;
          max-width:40%;
          height:7.5em;
          // Default bg if no photo found
          background: #E8E8E8;
          background-repeat:no-repeat;
          background-size:cover;
          background-position:50% 50%;
          float:left;
          margin-right:1em;
        }
      }
    }
  }
}
