$photo-background-color:#141414;

#popup_gallery_fullscreen {
  z-index:2000;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:$photo-background-color;
  transition:-webkit-transform $transition-duration;

  .photo_container {
    float:left;
    position:relative;
    height:100%;
    background:url(../images/ajax-loader-fullscreen-gallery.gif) no-repeat 50% 50%;

    .photo {
      height:100%;
      background-size:contain;
      background-repeat:no-repeat;
      background-position: 50% 50%;
    }

    &.opening_external_app .photo {
      visibility: hidden;
    }

    > span {
      width:100%;
      position:absolute;
      display:block;
      left:0;
      bottom:2em;
      text-align:center;
      transition:opacity $transition-duration;

      span {
        font-size:1.2em;
        display:inline-block;
        background:rgba($photo-background-color, .8);
        color:white;
        padding:.5em 1.2em;

        .fa-external-link {
          margin-left:.3em;
        }
      }
    }
  }

  &.hide_photo_title div > span {
    opacity:0;
  }

}
