.savedPages {
  padding-left:0;
  padding-right:0;

  .savedPagesList {
    margin:0;
    padding:0;

    li:first-child {
      border-top:0;
    }

    li {
      font-size:1.3em;
      padding:.7em 1em;
      border-top:1px solid #dcdcdc;

      i {
        float:right;
        margin-left:1em;
      }
    }
  }
}
