<div id="destinationMenu">
  <i class="fa fa-share touchFeedback" data-action="share">Share page</i>
  <i class="fa fa-download touchFeedback" data-action="save">Save page</i>
  <i class="fa fa-map-marker touchFeedback" data-action="showOnMap">Show on Map</i>
</div>
<nav>
  <i class="back fa fa-chevron-left touchFeedback"></i>
  <h1>{{destination.title}}</h1>
  <div class="right">
    <i class="touchFeedback fa {{#if destination.isFavorite}}fa-star{{else}}fa-star-o{{/if}} favoriteBtn"></i>
    <i class="menu fa fa-ellipsis-v menuBtn touchFeedback"></i>
  </div>
  <ul id="tabs_menu">
    <li class="active touchFeedback">Info</li>
    <li class="touchFeedback">Photos</li>
    <li class="touchFeedback">Videos</li>
    <li class="touchFeedback">Weather</li>
  </ul>
  <div class="loading_status"></div>
</nav>
<div id="destination_tabs">
  <div class="content tab" id="wikivoyage_tab">
    <p class="ajax_loading">
      <i class="ajax_spinner fa fa-spinner fa-spin"></i>
    </p>
  </div>
  <div data-tab-function="photos" class="tab" id="photos_tab">
    <p class="ajax_loading">
      <i class="ajax_spinner fa fa-spinner fa-spin"></i>
    </p>
  </div>
  <div data-tab-function="videos" class="tab not_loaded" id="videos_tab">
    <p class="ajax_loading">
      <i class="ajax_spinner fa fa-spinner fa-spin"></i>
    </p>
  </div>
  <div data-tab-function="weather" class="tab" id="weather_tab">
    <p class="ajax_loading">
      <i class="ajax_spinner fa fa-spinner fa-spin"></i>
    </p>
  </div>
</div>
