<nav id="topbar" class="navbar navbar-default">
  <i class="fa fa-chevron-left"></i>
  <h1>{{destination.title}}</h1>
  <i class="fa fa-heart-o"></i>
  <i class="fa fa-ellipsis-v"></i>
  <ul id="tabs_menu">
    <li>Info</li>
    <li>Photos</li>
    <li>Videos</li>
    <li>Weather</li>
  </ul>
</nav>
<div class="main_content" id="destination_content">
  {{{destination.html}}}
</div>
