<nav>
  <i class="back fa fa-chevron-left touchFeedback"></i>
  <h1>Favorites</h1>
  <div class="right">
    <i class="menu fa fa-ellipsis-v menuBtn touchFeedback"></i>
  </div>
</nav>
{{#if destinations}}
  <ul class="destinationsList">
    {{#each destinations}}
      <li data-uri="{{this.uri}}" class="touchFeedback">
        <span>{{this.title}}</span>
        <i class="fa fa-times remove touchFeedback"></i>
      </li>
    {{/each}}
  <ul>
{{else}}
  <div class="alert alert-info">
    <h3>No favorites</h3>
    You can favorite destinations by clicking the star icon on a destination's page.
  </div>
{{/if}}
