<nav>
  <i class="fa fa-bars" class="menuBtn"></i>
  <input type="text" placeholder="Search for a destination">
</nav>
<ul id="frontpage_tabs_menu">
  <li class="active">Popular</li>
  <li>Recent</li>
  <li>Favorites</li>
</ul>
<div id="frontpage_tabs">
  <div class="tab">
    <h2>Popular</h2>
  </div>
  <div class="tab">
    <h2>Recent</h2>
  </div>
  <div class="tab">
    <h2>Favorites</h2>
  </div>
</div>
