<div id="drawerMenu">
  <i class="fa fa-star touchFeedback" data-action="popular">Popular</i>
  <i class="fa fa-star touchFeedback" data-action="favorites">Favorites</i>
  <i class="fa fa-download touchFeedback" data-action="savedPages">Saved Pages</i>
  <i class="fa fa-puzzle-piece touchFeedback" data-action="destinationFinder">Destination Finder</i>
</div>
<div id="frontpageContent">
  <div class="overlay"></div>
  <nav>
    <i class="fa fa-bars menuBtn touchFeedback"></i>
    <div class="searchInput">
      <i class="fa fa-search searchIcon"></i>
      <input class="search" type="text" placeholder="Search for a destination">
    </div>
  </nav>
  <div class="pageContent">
    <ul id="frontpage_tabs_menu">
      <li class="active touchFeedback">Featured</li>
      <li class="touchFeedback">Recent</li>
      <li class="touchFeedback">Favorites</li>
    </ul>
    <div id="frontpage_tabs">
      <div class="tab active" id="featuredDestinations">
      </div>
      <div class="tab">
        {{{recent}}}
      </div>
      <div class="tab">
        {{{favorites}}}
      </div>
    </div>
  </div>
</div>
