<div id="drawerMenu">
  <i class="fa fa-download touchFeedback" data-action="savedPages">Saved Pages</i>
  <i class="fa fa-puzzle-piece touchFeedback" data-action="destinationFinder">Destination Finder</i>
</div>
<div id="frontpageContent">
  <div class="overlay"></div>
  <nav>
    <i class="fa fa-bars menuBtn touchFeedback"></i>
    <div class="searchInput">
      <i class="fa fa-search searchIcon"></i>
      <input class="search" type="text" placeholder="Search for a destination">
    </div>
  </nav>
  <ul id="frontpage_tabs_menu">
    <li class="active touchFeedback">Popular</li>
    <li class="touchFeedback">Recent</li>
    <li class="touchFeedback">Favorites</li>
  </ul>
  <div id="frontpage_tabs">
    <div class="tab">
      {{! TODO: need to make the fetching of locations dynamic }}
      <div class="destination touchFeedback" data-url="/wiki/Helsinki">
        <div style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Catedral_Luterana_de_Helsinki%2C_Finlandia%2C_2012-08-14%2C_DD_14.JPG/300px-Catedral_Luterana_de_Helsinki%2C_Finlandia%2C_2012-08-14%2C_DD_14.JPG)" class="photo"></div>
        <label>Helsinki</label>
        <p>Helsinki (Finnish) or Helsingfors (Swedish) is the capital of Finland. Founded in 1550, the "Daughter of the Baltic" has been the Finnish capital since 1812, when it was rebuilt by the tsars of Russia along the lines of a miniature St. Petersburg, a role it has played in many a Cold War movie. Today, Helsinki pulls off the trick of being something of an international metropolis while still retaining a small-town feel. The best time to visit is in summer, when Finns peel off their overcoats and flock to outdoor bars and cafes to enjoy the sunshine.</p>
      </div>
      <div class="destination touchFeedback" data-url="/wiki/Sweden">
        <div style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Svinesund10okt2004ny.jpg/220px-Svinesund10okt2004ny.jpg)" class="photo"></div>
        <label>Sweden</label>
        <p>Sweden (Swedish: Sverige) [1] is the largest of the Nordic countries, with a population of about 9.5 million. It borders Norway and Finland and is connected to Denmark via the bridge of Öresund (Öresundsbron). The Baltic Sea, including the Gulf of Bothnia, lies east of Sweden, separating it from most of Finland. The northernmost part of Sweden is in the Arctic.</p>
      </div>
    </div>
    <div class="tab">
      <h2>Recent</h2>
    </div>
    <div class="tab">
      <h2>Favorites</h2>
    </div>
  </div>
</div>
