<nav>
  <i class="fa fa-bars" class="menuBtn"><i>
  <input type="text" placeholder="Search for a destination">
</nav>
<div id="frontpage_tabs">
  <div>
    <h2>Popular</h2>
  </div>
  <div>
    <h2>Recent</h2>
  </div>
  <div>
    <h2>Favorites</h2>
  </div>
</div>
