{{#each photos}}
  <div class="photo_container" data-xbig-src="{{this.xbigSrc}}">
    <div class="photo" style="background-image:url({{this.src}})"></div>
    <span>
      <span class="external_link">
        {{this.title}}
        {{#if this.xbigSrc}}
          <i class="fa fa-external-link"></i>
        {{/if}}
      </span>
    </span>
  </div>
{{/each}}
