{{! don't print whitespace, because it adds spacing between the images! }}
{{#each photos}}<div class="photo" style="background-image:url({{this.src}})" data-big-src="{{this.bigSrc}}" data-xbig-src="{{this.xbigSrc}}" title="{{this.title}}"></div>{{/each}}
