<ul class="searchSuggestResults">
    {{#if results}}
      {{#each results}}
        <li class="touchFeedback">{{this}}</li>
      {{/each}}
    {{else}}
      <li class="noResults touchFeedback">No results</li>
    {{/if}}
</ul>
