{{#if videos}}
  {{#each videos}}
    <div>
      <img src="{{this.snippet.thumbnails.default.url}}" data-href="http://www.youtube.com/watch?v={{this.id.videoId}}">
      <span>{{this.snippet.title}}</span>
    </div>
  {{/each}}
{{else}}
  <p>No videos found.</p>
{{/if}}
